.right_sidebar__body_middle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right_sidebar__appeals h4 {
    color: var(--title-text-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.right_sidebar__appeals p {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.right_sidebar__appeals span {
    color: var(--title-text-color);
    font-weight: 500;
}

.right_sidebar__filter_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.right_sidebar__filter_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px 14px;
    border: 1px solid var(--gray-250);
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s linear;
    width: max-content;
}

.right_sidebar__filter_box:hover {
    box-shadow:
        0px 1px 2px 0px rgba(10, 13, 18, 0.05),
        inset 0px -2px 0px 0px rgba(10, 13, 18, 0.05),
        inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18);

}

.right_sidebar__filter_box i {
    font-size: 20px;
    color: var(--gray-400);
}

.right_sidebar__filter_box i:hover {
    color: var(--bs-red);
}

.right_sidebar__filter_box span {
    color: var(--gray-400);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}


.right_sidebar__body .nav-pills .nav-link {
    background-color: transparent;
    border: 2px solid var(--gray-100);
    background: var(--white-100);
    border-radius: 6px;
    color: var(--gray-360);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.right_sidebar__body .nav-pills .nav-link.active {
    background-color: transparent;
    border: 2px solid var(--blurLight-color);
    color: var(--color-gray-600);
    background: var(--white);
}

.appeals_list__overflow {
    height: 80vh;
    overflow: auto;
}

.appeals_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.appeal_box {
    padding: 24px;
    border: 1px solid var(--gray-100);
    border-radius: 20px;
    background: #f9fafb;
    transition: box-shadow 0.3s linear, border 0.3s linear;
}

.appeal_box:hover,
.appeal_box:focus,
.appeal_box:active {
    box-shadow:
        0px 1px 2px 0px rgba(14, 120, 240, 0.05),
        inset 0px -2px 0px 0px rgba(36, 101, 214, 0.05),
        inset 0px 0px 0px 1px rgba(11, 79, 196, 0.18);
    border: 1px solid var(--blue-600);
}

.appeal_box__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appeal_column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.appeal_column small {
    color: #475467;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.appeal_column h5 {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
}

.appeal_badge {
    border-radius: 15px;
    border: 1px solid var(--gray-200);
    background: var(--white-100);
    padding: 4px 12px;
    width: fit-content;
}

.appeal_id {
    line-height: 20px;
    color: var(--blurLight-color);
    border: 1px solid #b9e6fe;
    font-size: 14px;
    font-weight: 500;
    background: #f0f9ff;
}

.appeal_status {
    line-height: 20px;
    color: #b54708;
    border: 1px solid #fedf89;
    font-size: 14px;
    font-weight: 500;
    background: #fffaeb;
}

.appeal__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.appeal__icons i {
    font-size: 20px;
    line-height: 20px;
    color: var(--gray-300);
    border: 1px solid var(--gray-300);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.appeal__icons i:hover {
    color: var(--blue-600);
    border: 1px solid var(--blue-600);
}

.appeal__icons i.icon-chatting::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #12b76a;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: 1px solid white;
}

.appeal_collapse {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid var(--gray-250);
    margin-top: 20px;
    padding-top: 16px;
}