:root {
    --main-text-color: #535862;
    --color-gray-600: #475467;
    --color-inky: #7f56d9;
    --title-text-color: #1d2939;
    --greenDark-color: #027a48;
    --greenLight-color: #6ce9a6;
    --blurLight-color: #026aa2;
    --gray-50: #f9fafb;
    --gray-100: #e4e7ec;
    --blue-600: #1570ef;
    --white: #fff;
}

.section-cabinet .cabinet_logo__link {
    width: auto;
    height: auto;
    display: inline-block;
}

.section-cabinet img[alt="logo"] {
    width: 200px;
    object-fit: contain;
    scale: 1;
}

.cabinet_customer {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid rgb(233, 234, 235);
    border-radius: 12px;
    width: 100%;
    cursor: pointer;
    transition: box-shadow 0.3s linear;
    gap: 5px;
}

.cabinet_customer:hover {
    box-shadow: 0px 2px 4px 0px rgba(10, 13, 18, 0.075);
}

.cabinet_customer:hover>span {
    color: var(--blurLight-color);
}

.cabinet_customer span {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.cabinet_customer>small {
    display: flex;
    align-items: center;
    font-weight: 400;
    width: fit-content;
}

.custom_ul a.nav-link {
    transition: all 0.3s linear;
}

.custom_ul a.nav-link small {
    color: #414651;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.custom_ul a.nav-link i {
    color: #717680;
    font-size: 20px;
}

.custom_ul a.nav-link .sidebar_link__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.badge {
    color: var(--title-text-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid #e9eaeb;
    border-radius: 12px;
    background: #fafafa;
    padding: 2px 8px;
}

.custom_ul a.nav-link:hover {
    background-color: var(--blue-600);
}

.custom_ul a.nav-link:hover i,
.custom_ul a.nav-link:hover small {
    color: var(--white);
}

.custom_ul .line {
    width: 100%;
    height: 2px;
    background-color: #dddddd;
    opacity: 0.6;
    margin: 10px 0;
}

/* LEFT SIDEBAR */

.right_sidebar .fixed {
    left: 0;
    top: 0;
    position: sticky;
}

.left_sidebar {
    padding: 32px;
}

.left_sidebar__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
}

.left_sidebar__header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_sidebar__body_middle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-group {
    width: fit-content;
}

.left_sidebar__appeals h4 {
    color: var(--title-text-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.left_sidebar__appeals p {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.left_sidebar__appeals span {
    color: var(--title-text-color);
    font-weight: 500;
}

.left_sidebar__filter_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.left_sidebar__filter_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px 14px;
    border: 1px solid #d5d7da;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s linear;

}

.left_sidebar__filter_box:hover {
    box-shadow:
        0px 1px 2px 0px rgba(10, 13, 18, 0.05),
        inset 0px -2px 0px 0px rgba(10, 13, 18, 0.05),
        inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18);

}

.left_sidebar__filter_box i {
    font-size: 20px;
    color: #414651;
}

.left_sidebar__filter_box i:hover {
    color: var(--bs-red);
}

.left_sidebar__filter_box span {
    color: #414651;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.left_sidebar__body{}

.left_sidebar__body .nav-pills .nav-link {
    background-color: transparent;
    border: 2px solid var(--gray-100);
    background: rgb(250, 250, 250);
    border-radius: 6px;
    color: #717680;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.left_sidebar__body .nav-pills .nav-link.active {
    background-color: transparent;
    border: 2px solid var(--blurLight-color);
    color: var(--color-gray-600);
    background: var(--white);
}

.appeals_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.appeal_box {
    padding: 24px;
    border: 1px solid #e4e7ec;
    border-radius: 20px;
    background: #f9fafb;
    transition: box-shadow 0.3s linear, border 0.3s linear;
}

.appeal_box:hover,
.appeal_box:focus,
.appeal_box:active {
    box-shadow:
        0px 1px 2px 0px rgba(14, 120, 240, 0.05),
        inset 0px -2px 0px 0px rgba(36, 101, 214, 0.05),
        inset 0px 0px 0px 1px rgba(11, 79, 196, 0.18);
    border: 1px solid var(--blue-600);
}

.appeal_box__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appeal_column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.appeal_column small {
    color: #475467;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.appeal_column h5 {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
}

.appeal_badge {
    border-radius: 15px;
    border: 1px solid #e9eaeb;
    background: #fafafa;
    padding: 4px 12px;
    width: fit-content;
}

.appeal_id {
    line-height: 20px;
    color: var(--blurLight-color);
    border: 1px solid #b9e6fe;
    font-size: 14px;
    font-weight: 500;
    background: #f0f9ff;
}

.appeal_status {
    line-height: 20px;
    color: #b54708;
    border: 1px solid #fedf89;
    font-size: 14px;
    font-weight: 500;
    background: #fffaeb;
}

.appeal__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.appeal__icons i {
    font-size: 20px;
    line-height: 20px;
    color: #98A2B3;
    border: 1px solid #98A2B3;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.appeal__icons i:hover {
    color: var(--blue-600);
    border: 1px solid var(--blue-600);
}

.appeal__icons i.icon-chatting::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #12b76a;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: 1px solid white;
}

.appeal_collapse {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid #D5D7DA;
    margin-top: 20px;
    padding-top: 16px;
}