@import "./normalize.css";
@import "../fonts/fonts.css";
@import "./highchart.css";
@import "./category-details.css";
@import "./login.css";
@import "./verification.css";
@import "./registration.css";
@import "./companies-list.css";
@import "./company-appeals.css";
@import "./appeals-list.css";

:root {
  --main-text-color: #535862;
  --color-gray-600: #475467;
  --color-inky: #7f56d9;
  --title-text-color: #1d2939;
  --greenDark-color: #027a48;
  --greenLight-color: #6ce9a6;
  --blurLight-color: #026aa2;
  --gray-50: #f9fafb;
  --gray-100: #e4e7ec;
  --blue-600: #1570ef;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1240px;
}

.py-40 {
  padding: 0.375rem 40px;
}

.text-center {
  margin: 0 auto;
  display: block;
}

/* scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray-100);
  border-radius: 32px;
}

::-webkit-scrollbar-thumb {
  background: #2e90fa;
  border-radius: 32px;
  min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2583e7;
}

/* Spinnerlarni olib tashlash (faqat Chrome, Edge, Safari uchun) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Spinnerlarni olib tashlash (Firefox uchun) */
input[type="number"] {
  -moz-appearance: textfield;
}

/* PAGINATION */

.main__pagination {
  margin-top: 16px;
  padding: 14px 24px;
  border: 1px solid rgb(228, 231, 236);
  border-radius: 16px;
  box-shadow: inset 0px -2px 0px 0px rgba(10, 13, 18, 0.05), inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18), 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
  background: rgb(255, 255, 255);
}

/* MAIN TABLE */

.main-table tr:not(:first-child):hover {
  background-color: var(--gray-50);
}

.main-table td a {
  color: var(--title-text-color);
}

.main-table tr:not(:first-child):hover>td a {
  color: var(--blurLight-color);
  text-decoration: underline;
}

.main-table th {
  color: #717680;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 16px;
  cursor: pointer;
  text-align: left;
}

.main-table td {
  color: #101828;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding: 16px;
  cursor: pointer;
}

.main-table td span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 4px 12px;
  border-radius: 15px;
  margin-bottom: 28px;
  width: fit-content;
  box-sizing: border-box;
  border: 1px solid #e9eaeb;
  background: #fafafa;
}

.main-table td .resolved__appeals_number {
  color: var(--blurLight-color);
  border: 1px solid #b2ddff;
  background: #eff8ff;
}

.main-table td .resolved__appeals_percent {
  color: var(--greenDark-color);
  border: 1px solid #abefc6;
  background: #ecfdf3;
}

/* BREADCRUMBS */

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.breadcrumbs a:last-child {
  color: var(--blue-600);
}

.breadcrumbs a:last-child:hover {
  color: var(--blurLight-color);
}

.breadcrumbs .icon-home-line {
  color: #717680;
  font-size: 20px;
  cursor: pointer;
}

.breadcrumbs .icon-chevron-down1 {
  color: #d5d6d9;
}

/* LOAD BTN */

.load_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

/* HEADER STYLES */

header {
  padding: 28px 0;
  /* Gray/200 */
  border-bottom: 1px solid var(--gray-100);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02),
    0px 5px 5px 0px rgba(0, 0, 0, 0.02), 0px 12px 7px 0px rgba(0, 0, 0, 0.01),
    0px 21px 9px 0px rgba(0, 0, 0, 0), 0px 34px 9px 0px rgba(0, 0, 0, 0);
  margin-bottom: 16px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu ul {
  display: flex;
  align-items: center;
}

.header__menu ul li a {
  color: var(--main-text-color);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
}

.header__menu ul li a:hover {
  color: var(--color-inky);
}

.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__languages .dropdown-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__languages img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

/* HERO SECTION STYLE */

.carousel-caption {
  left: 64px;
  top: 100px;
  text-align: left;
}

.carousel-caption h5 {
  color: var(--white);
  font-size: 48px;
  font-weight: 600;
  line-height: 130%;
  width: 613px;
}

.carousel-caption p {
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  width: 613px;
  margin-top: 12px;
  margin-bottom: 32px;
}

.carousel-caption button {
  /* Text md/Semibold */
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.carousel-item {
  border-radius: 24px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgba(255, 255, 255, 0.3);
  width: 3rem;
  height: 3rem;
  background-size: 60% 60%;
  border-radius: 50%;
  backdrop-filter: blur(20px);
}

.carousel-indicators button {
  border-radius: 50% !important;
  width: 12px !important;
  height: 12px !important;
}

/* CATEGORIES SECTION STYLE */
.section-categories {
  margin-top: 100px;
  text-align: center;
}

.section-categories h1 {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
}

.categories__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin: 40px 0;
}

.category__box {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 calc(25% - 20px);
  text-align: center;
  padding: 24px;
  cursor: pointer;
  border: 1.2px solid #d4d4d4;
  border-radius: 12px;
  transition: box-shadow 0.3s linear;
  display: none;
}

.category__box.visible {
  display: inline-block;
}

.category__box:hover {
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.05),
    0px 23px 23px 0px rgba(0, 0, 0, 0.04), 0px 52px 31px 0px rgba(0, 0, 0, 0.03),
    0px 92px 37px 0px rgba(0, 0, 0, 0.01), 0px 143px 40px 0px rgba(0, 0, 0, 0);
}

.category_icon {
  width: fit-content;
  padding: 16px;
  border: none;
  border-radius: 5px;
}

.category__box .category_icon {
  margin: 0 auto;
}

.category__box i {
  font-size: 32px;
  color: var(--white);
}

.communal {
  background-color: #fdb022;
}

.transport {
  background-color: #98a2b3;
}

.home {
  background-color: #b692f6;
}

.shopping-cart {
  background-color: var(--greenLight-color);
}

.chemistry {
  background-color: #f97066;
}

.utility {
  background-color: #9e77ed;
}

.healtcare {
  background-color: #7cd4fd;
}

.wifi {
  background-color: var(--color-gray-600);
}

.internet {
  background-color: #6ce9a6;
}

.investigation {
  background-color: #f670c7;
}

.mail {
  background-color: #12b76a;
}

.health-heart {
  background-color: #dc6803;
}

.master-cap {
  background-color: #be2bbe;
}

.bank {
  background-color: #344054;
}

.tv-smart {
  background-color: #fd853a;
}

.wifi {
  background-color: #475467;
}

.give-pill {
  background-color: #53b1fd;
}

.airplane {
  background-color: #717bbc;
}

.knife-fork {
  background-color: #84caff;
}

.megaphone {
  background-color: #9B8AFB;
}

.file {
  background-color: #36BFFA;
}

.checkmark-circle {
  background-color: #32D583;
}

.clock {
  background-color: #F97066;
}

.cancel-circle {
  background-color: #B692F6;
}


.category__box h4 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  color: var(--title-text-color);
}

.badge {
  position: absolute;
  color: var(--white);
  background-color: var(--bs-red);
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 15px;
  top: 15px;
  right: -20px;
  transform: rotate(45deg);
}

.application_number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.application_number p {
  color: var(--color-gray-600);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.application_number span {
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  padding: 0 8px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 9px;
}

/* SECTION APPEALS STYLE */

.section-appeals {
  margin-top: 40px;
}

.section-appeals h2 {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}

.appeal__scroll {
  max-height: 610px;
  overflow-y: auto;
  margin-bottom: 40px;
}

.appeals__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.appeals__box {
  box-sizing: border-box;
  border: 1px solid var(--gray-100);
  border-radius: 24px;
  background: var(--gray-50);
  padding: 24px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  transition: box-shadow 0.3s linear;
  height: fit-content;
}

.appeals__box:hover {
  box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05),
    inset 0px -2px 0px 0px rgba(10, 13, 18, 0.05),
    inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18);
}

.box__column {
  display: flex;
  flex-direction: column;
}

.box__column small {
  color: var(--color-gray-600);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  margin-bottom: 8px;
}

.box__column b {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}

.field_icon__text {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  align-items: center;
}

.field_icon__text span {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}

.field_icon {
  box-sizing: border-box;
  padding: 8px;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 8px;
}

.field_icon i {
  color: var(--white);
  font-size: 24px;
}

.box__column.third p {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 35px;
}

.box__column span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 4px 12px;
  border-radius: 15px;
  margin-bottom: 28px;
  width: fit-content;
  border: 1px solid #e9eaeb;
  background: #fafafa;
}

.box__column.first span {
  color: var(--blurLight-color);
  border: 1px solid #b9e6fe;
  background: #f0f9ff;
}

.box__column.fourth span {
  color: #b54708;
  border: 1px solid #fedf89;
  background: #fffaeb;
}

/* SECTION OBJECTION STYLE */

.section-objection {
  margin-top: 100px;
  /* background-image: url("../images/features/objection-bg.webp"); 
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: var(--title-text-color);
  padding: 82px 0;
  text-align: center;
}

.section-objection h2 {
  color: var(--white);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -2%;
  margin-bottom: 20px;
}

.objection_description {
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  max-width: 768px;
  margin: 0 auto 40px;
}

.objection__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.objection__box {
  border: none;
  backdrop-filter: blur(16px);
  background: #101828;
  padding: 32px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}

.objection__box:hover {
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.05),
    0px 23px 23px 0px rgba(0, 0, 0, 0.04), 0px 52px 31px 0px rgba(0, 0, 0, 0.03),
    0px 92px 37px 0px rgba(0, 0, 0, 0.01), 0px 143px 40px 0px rgba(0, 0, 0, 0);
}

.objection__number {
  color: var(--white);
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -2%;
  margin-bottom: 12px;
}

.objection__box h5 {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}

.objection__box p {
  color: var(--white);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* SECTION STATISTICS STYLE */

.section-statistics {
  margin-top: 100px;
}

.section-statistics h2 {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 12px;
}

.section-statistics p {
  color: var(--color-gray-600);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
  max-width: 530px;
}

.statistics__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  text-align: center;
  gap: 20px;
}

.statistics__box {
  padding: 24px;
  border: 1px solid #e4e7ec;
  border-radius: 24px;
  background: #f9fafb;
  flex: 0 0 calc(50% - 20px);
}

.statistics__box h3 {
  color: var(--title-text-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 32px;
}

.statistic__indicators {
  padding: 20px 0;
  text-align: center;
}

.statistic__indicators h2 {
  color: var(--title-text-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 27px;
}

/* SECTION REGIONS STYLE */

.section-regions {
  margin: 100px 0;
}

.section-regions h2 {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 12px;
}

.regions_description {
  max-width: 530px;
  color: var(--color-gray-600);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 42px;
}

.regions__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.regions_info {
  display: flex;
  flex-direction: column;
  border: 1px solid #e4e7ec;
  border-radius: 24px;
  background: #f9fafb;
  padding: 24px;
  flex: 0 0 66%;
}

.regions__info_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-top: 20px;
}

.regions_dropdowns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 10px;
}

.regions__info_box {
  border: 1px solid #00000028;
  border-radius: 14px;
  background: var(--white);
  padding: 20px 16px;
  flex: 0 0 1;
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}

.regions__info_box:hover {
  box-shadow: inset 0px -2px 0px 0px rgba(10, 13, 18, 0.05),
    inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18),
    0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}

.regions__info_box .regions__info_icon {
  border: 1px solid #e9eaeb;
  border-radius: 16px;
  background: var(--white);
  width: fit-content;
  padding: 16px;
  margin-bottom: 15px;
}

.regions__info_box .regions__info_icon i {
  font-size: 24px;
}

.regions__info_box h4 {
  color: var(--title-text-color);
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 5px;
}

.regions__info_box p {
  color: var(--color-gray-600);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.regions_list {
  border: 1px solid #e4e7ec;
  border-radius: 24px;
  background: #f9fafb;
  padding: 24px;
  flex: 0 0 33%;
}

.regions_list h3 {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 16px;
}

.ul_scroll ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-right: 10px;
}

.ul_scroll ul li {
  padding: 8px 10px;
  border: 1px solid #e4e7ec;
  border-radius: 8px;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}

.ul_scroll ul li:hover {
  box-shadow: inset 0px -2px 0px 0px rgba(10, 13, 18, 0.05),
    inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18),
    0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}

.ul_scroll {
  max-height: 635px;
  overflow-y: auto;
}

.region_name {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  opacity: 0.6;
}

.region__appeals_number {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

/* FOOTER STYLE */

footer {
  position: relative;
  background-color: var(--title-text-color);
  overflow: hidden;
}

footer::before,
footer::after {
  content: "";
  position: absolute;
  top: 0;
  background-size: contain;
  z-index: 0;
  background-repeat: no-repeat;
}

footer::before {
  width: 781px;
  height: 781px;
  background-image: url("../images/features/footer-1.svg");
  left: -349px;
}

footer::after {
  width: 669px;
  height: 669px;
  background-image: url("../images/features/footer-2.svg");
  right: -200px;
}

footer .container {
  position: relative;
  z-index: 1;
  padding: 64px 0 32px;
}

footer .line {
  margin: 32px 0;
  width: 100%;
  height: 1px;
  background-color: #344054;
}

footer a {
  color: var(--white);
}

.footer a:hover,
.call_center h5:hover,
.social_medias i:hover {
  color: var(--color-inky);
}

/* footer first row */
.footer__first_row,
.footer__second_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--white);
}

.footer__first_right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__first_right p,
.footer__second_right p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 320px;
}

.footer__first_right ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer__first_right ul li a {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.footer__first_middle {
  display: flex;
  gap: 32px;
  align-items: center;
}

.phone_number,
.call_center {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.phone_number p,
.call_center p,
.footer__first_left p {
  color: var(--gray-50);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.phone_number a,
.call_center h5 {
  color: var(--gray-50);
  font-size: 36px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.footer__first_left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* footer second row */

.footer__second_left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__second_right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__second_middle {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__second_middle p {
  display: flex;
  gap: 8px;
}

.footer__second_middle span {
  color: var(--gray-100);
  opacity: 0.6;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.footer__third_row {
  display: block;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.social_medias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social_medias i {
  font-size: 24px;
  cursor: pointer;
}